---
import { SITE_CONTENT } from "@config";
import Layout from "@layouts/Layout.astro";
import Projects from "@components/Projects.astro";
import "../styles/global.css";
---

<Layout>
    <body>
<p style="color:white">
    10+ years of user experience working in complex platform environments:
Teaching, training, and collaborating with teams to produce user-centric products, features, and prototypes;
Communicating effectively and partnering with design, engineering, and product management team members to meet business goals;
Validating product strategy features by building detailed research plans with appropriate mixed methods for testing and uncovering actionable user insight
I'm a systems thinker who approaches user experience design by asking what motivates each design decision.. I'm fascinated by the tension between a business's needs and those of its users. They influence a product and its ecosystem. I believe in understanding the complete landscape — the complex interconnections between users, business goals, and technical constraints. Designing the appropriate solution means
researching the landscape and validating the problem
designing a solution,
prototyping the interactions,
testing the solution,
Measuring its performance -is it solving the problem?
<image>
uxSolutionDevelopmentSteps

</p>

    </body>

</Layout>