---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text=" Blog" href="blog">
<p class="mb-9"style="color:white">overview text</p>
  {
    projects.map(({ name, linkPreview }, index) => {
      const top = 98 + index * 40;
      return (

        <ul>
            <li><a class="ont-serif text-3xl font-medium text-primary" href={linkPreview} target="_blank">{name}</a> </li>
        
            </ul>
        /*<div
          style={`top: ${top}px;`}
          class="sticky mb-12 rounded-2xl border border-neutral/20 bg-black"
        >
                 </div>*/
      );
    })
  }
</Section>
