---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="UX Projects" href="projects">
<p class="mb-9"style="color:white">overview text</p>
  {
    projects.map(({ name, summary, image, linkPreview, linkSource }, index) => {
      const top = 98 + index * 40;
      return (

        <ul>
            <li><a class="ont-serif text-3xl font-medium text-primary" href={linkPreview} target="_blank">{name}</a> </li>
            <li class="mb-5 text-base text-neutral"c>{summary}</li>
            </ul>
              );
    })
  }
</Section>
